.jtron-image {
	background-image: url(../images/M3.jpg);
	background-position: center;
	background-repeat: no-repeat;
	

}

.jumbotron {
	margin-top: 30px;
	display: block;
    height: auto;
    max-height: 100%;
    width: auto;
    max-width: 100%;

}

.container .jumbotron {
	padding: none;
}