.jumbotron {
	margin-top: 30px;
	display: block;
    height: 540px;
    max-height: 100%;
    width: 960px;
    max-width: 100%;
    background-image: url(../images/M3.jpg);
	background-position: center;
	background-repeat: no-repeat;
	vertical-align: center;

}

.featurette-divider {
	margin-bottom: 40px;
}
